In [5]:
print("hello world", "python")

hello world python

In [3]:
# 문자출력
print("안녕, 한국직업교육학원")

안녕, 한국직업교육학원

In [4]:
# 숫자출력
print(100)
print("100")
a=100
b="100"
print(a==b)

100
100
False

In [6]:
# 산술 연산자 

print(100+200)
print(100-200)
print(100*200)

300
-100
20000

In [7]:
# 나머지 연산자 
print(10%3)
print(10/3)

# 거듭제곱 
print(10**2)

# 제곱근 
print(100**0.5)

1
3.3333333333333335
100
10.0

In [ ]:
# 산술연산자 우선순위
print((4+3)*5)

35

In [1]:
# 문자 더하기
print("안녕"+"하세요")
print("안녕"*3)

# 문자 + 숫자 
print("안녕" + 100)

안녕하세요
안녕안녕안녕

TypeError: can only concatenate str (not "int") to str

In [ ]:
### 자료형

In [ ]:
# 정수형

type(100)

int

In [ ]:
# 실수형
type(100.0)

float

In [ ]:
# 문자열
print(type("안녕하세요"))
print(type("100"))
print(type(100))

<class 'str'>
<class 'str'>
<class 'int'>

In [ ]:
# 같지만 다른 숫자 
print(type(3))
print(type(3.0))

<class 'int'>
<class 'float'>

In [ ]:
# 참과 거짓 
# 첫글자는 반드시 대문자이어야 합니다. 
print(type(True)) 
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
print(True + True + True)
print(False + False + False)

3
0

In [6]:
### 변수 

americano = 4500 

print(americano)
print("americano")
print(latte)

4500
americano

NameError: name 'latte' is not defined

In [ ]:
# 변수 연산 
latte = 5000

print(americano + latte)

9500

In [ ]:
result = latte - americano
print(result)

500

In [ ]:
# 변수 업데이트
americano = 4500 
americano = americano + 1000 

print(americano)

5500

In [ ]:
### 자료형 변환

In [ ]:
a = 2 
b = 0.17 

a = a + b 
print(type(a))

<class 'float'>

In [ ]:
### 비교연산자

In [ ]:
# 크다 >
# 크거나같다(이상) >= 
# 작다 < 
# 작거나같다(이하) <=  
# 같다 ==  
# 다르다 !=

In [ ]:
# 참조건 
print(10 > 5 )
print(10 < 5)
print(10 >= 10)
print(10 <= 10)
print(10 == 10)
print(10 != 10)
print( 10 = 10)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (723833326.py, line 8)

In [ ]:
### 조건문 

score = 90

if score >= 90:
    print("A") 
else:
    print("B")

A

In [ ]:
점수 = 87 

if 점수 >= 90:
    print("A")
elif 점수 >= 80:
    print("B")
elif 점수 >= 70: 
    print("C")
else:
    print("F") 


print("안녕하세요")

B
안녕하세요

In [ ]:
# 조건문의 구성 

score = 2 

if score >= 10: 
    print("score가 10이상입니다.")
elif score < 10 and score >= 5:
    print("score가 5이상 10미만입니다.")
elif score < 5 and score >= 3:
    print("score가 3이상 5미만입니다.")
else: 
    print("score가 3미만입니다.")

score가 3미만입니다.

In [ ]:
### 리스트
## 여려개의 값을 저장할 수 있는 자료형

In [11]:
# 리스트 생성 
listbox = ["사과", "바나나", "딸기"]
print(type(listbox))
print(listbox)

<class 'list'>
['사과', '바나나', '딸기']

In [12]:
# 리스트 첫번째 값 가져오기(인덱싱)
listbox[0]
listbox[1]
listbox[2]

'딸기'

In [23]:

listbox.append("포도")

listbox

['딸기', '바나나', '사과', '포도', '포도', '포도']

In [26]:
print(sorted(listbox))

['딸기', '바나나', '사과', '포도', '포도', '포도']

In [27]:
print(sorted(listbox, reverse=True))

['포도', '포도', '포도', '사과', '바나나', '딸기']

In [ ]:
a = [1,2,3,4,5]
print(sorted(a, reverse=True))

[5, 4, 3, 2, 1]

[1, 2, 3, 4, 5]

In [30]:
print(a)
a = sorted(a, reverse=True)
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [31]:
a

[5, 4, 3, 2, 1]

In [32]:
### 딕셔너리
# 리스트와 같이 여러 데이터를 한 번에 저장이 가능 
# 키와 값의 쌍으로 데이터를 저장

In [33]:
# 딕셔너리 생성 
dict = {"name": "홍길동", "age": 20, "gender": "남자"}
print(type(dict))

<class 'dict'>

In [34]:
dict

{'name': '홍길동', 'age': 20, 'gender': '남자'}

In [35]:
dict["name"]

'홍길동'

In [36]:
dict["age"]

20

In [37]:
dict["gender"]

'남자'

In [38]:
dict["age"] = 30

In [39]:
dict

{'name': '홍길동', 'age': 30, 'gender': '남자'}

In [40]:
dict["hobby"] = "축구"
dict

{'name': '홍길동', 'age': 30, 'gender': '남자', 'hobby': '축구'}

In [41]:
dict.keys()

dict_keys(['name', 'age', 'gender', 'hobby'])

In [42]:
dict.values()

dict_values(['홍길동', 30, '남자', '축구'])

In [43]:
# 딕셔너리를 리스트로 변환 
list(dict.keys())

['name', 'age', 'gender', 'hobby']

In [45]:
# 딕셔너리 생성(변수)

a = "합격", 
b = "한국직업교육학원"
c = "학원" 

dictbox = {"닉네임": a, c : b}
dictbox

{'닉네임': ('합격',), '학원': '한국직업교육학원'}

In [46]:
# 딕셔너리 생성(리스트)

listbox1 = ["국어", "영어", "수학"]
listbox2 = [90, 80, 70]

dictbox = {"과목": listbox1, "점수": listbox2}
dictbox

{'과목': ['국어', '영어', '수학'], '점수': [90, 80, 70]}