In [1]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("type1_data1.csv")

In [2]:
print(df["f5"])

0      91.297791
1      60.339826
2      17.252986
3      52.667078
4      29.269869
         ...
115     0.000000
116     0.000000
117     0.000000
118     0.000000
119     0.000000
Name: f5, Length: 120, dtype: float64

In [3]:
# 1. 'f5' 컬럼이 0이 아닌 데이터(행)을 구하시오
cond = df["f5"] != 0
df=df[cond]
df

        id    age city    f1  f2    f3    f4         f5  subscribed    views
0     id01    2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16   6820.0
1     id02    9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12   2534.0
2     id03   27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16   7312.0
3     id04   75.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21    493.0
4     id05   24.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07   1338.0
..     ...    ...  ...   ...  ..   ...   ...        ...         ...      ...
97    id97  100.0   경기   NaN   0  gold  INFP  67.886373  2024-03-18   6687.0
98    id98   39.0   경기  58.0   2   NaN  INFP  98.429899  2024-10-02    865.0
99    id99    1.0   경기  47.0   0  gold  ESFJ  97.381034  2024-12-02   6090.0
100  id100   47.0   경기  53.0   0   vip  ESFP  33.308999  2024-02-21  15535.0
101   id68   35.0   경기  45.0   2  gold  ISFP  67.886373  2024-07-29   8599.0

[102 rows x 10 columns]

In [4]:
# 2. 앞에서 구한 데이터에 "views" 컬럼 결측치를 "views" 컬럼의 최솟값을 채워주세요 
min2=df["views"].min()
df["views"]=df["views"].fillna(min2,inplace=True)
df
#df["views"].isnull().sum()

        id    age city    f1  f2    f3    f4         f5  subscribed views
0     id01    2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16  None
1     id02    9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12  None
2     id03   27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16  None
3     id04   75.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21  None
4     id05   24.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07  None
..     ...    ...  ...   ...  ..   ...   ...        ...         ...   ...
97    id97  100.0   경기   NaN   0  gold  INFP  67.886373  2024-03-18  None
98    id98   39.0   경기  58.0   2   NaN  INFP  98.429899  2024-10-02  None
99    id99    1.0   경기  47.0   0  gold  ESFJ  97.381034  2024-12-02  None
100  id100   47.0   경기  53.0   0   vip  ESFP  33.308999  2024-02-21  None
101   id68   35.0   경기  45.0   2  gold  ISFP  67.886373  2024-07-29  None

[102 rows x 10 columns]

In [5]:
#3. 그리고 "views" 컬럼의 중앙값을 계산해 정수로 구하시오
int(df["views"].median())

c:\Users\krcea\AppData\Local\Programs\Python\Python314\Lib\site-packages\numpy\lib\_nanfunctions_impl.py:1213: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

ValueError: cannot convert float NaN to integer