In [24]:
import pandas as pd 
df = pd.read_csv("type1_data1.csv")

# 1. "views" 컬럼의 결측 데이터를 0으로 대체하시오.
df["views"] = df["views"].fillna(0)

# 2. "views" 컬럼에서 상위 10번째 값을 구하시오.
# 내림차순 정렬 후 10번째(인덱스 9) 값
views_top10th = df["views"].sort_values(ascending=False).iloc[9]
print("상위 10번째 값:", views_top10th)

# 3. "views" 컬럼에서 상위 10개의 값을 상위 10번째 값으로 대체하시오.
# 상위 10개 행의 인덱스를 구한 뒤, 그 값들을 모두 views_top10th로 변경
idx_top10 = df["views"].sort_values(ascending=False).index[:10]
df.loc[idx_top10, "views"] = views_top10th

# 4. "views" 컬럼의 전체 합을 정수로 구하시오.
views_sum = int(df["views"].sum())
print("views 합(정수):", views_sum)

상위 10번째 값: 9877.0
views 합(정수): 652812

In [32]:
# 1. "views" 컬럼의 결측 데이터를 0으로 대체하시오. 
#df.head(3)
df["views"].fillna(0, inplace=True)
df.isnull().sum()

id             0
age            0
city           0
f1            31
f2             0
f3            29
f4             0
f5             0
subscribed     0
views          0
dtype: int64

In [27]:
# 2. "views" 컬럼에서 상위 10번째 값을 구하시오
views_top10th = df["views"].sort_values(ascending=False).iloc[9]
print("상위 10번째 값:", views_top10th)

상위 10번째 값: 9877.0

In [30]:
# 3. "views" 컬럼에서 상위 10개의 값을 상위 10번째 값을 대체하시오. 
idx_top10 = df["views"].sort_values(ascending=False).index[:10]
df.loc[idx_top10, "views"] = views_top10th
df

        id   age city    f1  f2      f3    f4         f5  subscribed   views
0     id01   2.0   서울   NaN   0    gold  ENFJ  91.297791  2024-07-16  6820.0
1     id02   9.0   서울  70.0   1     NaN  ENFJ  60.339826  2024-05-12  2534.0
2     id03  27.0   서울  61.0   1    gold  ISTJ  17.252986  2024-03-16  7312.0
3     id04  75.0   서울   NaN   2     NaN  INFP  52.667078  2024-07-21   493.0
4     id05  24.0   서울  85.0   2     NaN  ISFJ  29.269869  2024-03-07  1338.0
..     ...   ...  ...   ...  ..     ...   ...        ...         ...     ...
115  id114  22.0   대구  23.0   0    gold  INTP   0.000000  2025-02-17  9747.0
116  id115  23.0   부산  65.0   0     vip  ENTP   0.000000  2025-02-17  5628.0
117  id116  23.0   서울  12.0   1  silver  INFP   0.000000  2025-02-17  1267.0
118  id117  23.0   대구  65.0   2    gold  INFP   0.000000  2025-02-17  6543.0
119  id118  24.0   부산  94.0   1     vip  ESFJ   0.000000  2025-02-17  2356.0

[120 rows x 10 columns]

In [31]:
# 4. "views" 컬럼의 전체 합을 정수로 구하시오.
views_sum = int(df["views"].sum())
print("views 합(정수):", views_sum)

views 합(정수): 652812