In [27]:
import pandas as pd 
df = pd.read_csv("type1_data1.csv")

# 1. 결측치가 있는 행을 삭제하시오. 
# 2. 결측치가 삭제된 데이터를 사용하여 지역별(city) 평균을 계산하시오 
# 3. 앞에서 계산한 지역별 평균 데이터에서 "f2" 컬럼 값이 가장 큰 지역을 구하시외

In [28]:
df.dropna(inplace=True)
print(df.isnull().sum())

id            0
age           0
city          0
f1            0
f2            0
f3            0
f4            0
f5            0
subscribed    0
views         0
dtype: int64

In [29]:
df.groupby("city").mean(numeric_only = True)

            age         f1        f2         f5        views
city
경기    48.704000  61.360000  0.760000  52.106731  8127.880000
대구    49.773333  66.200000  0.666667  27.370166  6819.133333
부산    35.075000  65.875000  0.687500  38.638715  6945.437500
서울    38.000000  60.142857  0.785714  41.122705  7369.142857

In [32]:
df = df.sort_values("f2", ascending = False)
df.index[0]

np.int64(68)