In [35]:
import pandas as pd 
df = pd.read_csv("type1_data1.csv")

#1. 데이터에서 결측치가 있는 데이터(행)를 삭제하시오. 
#2. 결측치가 제거된 데이터를 사용하여 앞에서부터 70%데이터를 구하시오.
#3. 앞에서 구한 70% 데이터 중 "views" 컬럼의 3사분위수에서 1사분위수 뺀 값을 정수로 구하시오

In [36]:
df.head()

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16  6820.0
1  id02   9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12  2534.0
2  id03  27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16  7312.0
3  id04  75.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21   493.0
4  id05  24.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07  1338.0

In [37]:
#1. 데이터에서 결측치가 있는 데이터(행)를 삭제하시오. 
print("결측치 확인", df.isnull().sum())
df.dropna(inplace=True)
print("결측치 확인", df.isnull().sum())

결측치 확인 id             0
age            0
city           0
f1            31
f2             0
f3            29
f4             0
f5             0
subscribed     0
views          4
dtype: int64
결측치 확인 id            0
age           0
city          0
f1            0
f2            0
f3            0
f4            0
f5            0
subscribed    0
views         0
dtype: int64

In [38]:
#2. 결측치가 제거된 데이터를 사용하여 앞에서부터 70%데이터를 구하시오.
df.shape
len_7=len(df) * 0.7
len_7

49.0

In [39]:
#3. 앞에서 구한 70% 데이터 중 "views" 컬럼의 3사분위수에서 1사분위수 뺀 값을 정수로 구하시오 
df.iloc[0:49]
# df.iloc[0:int(len_7)]
df.shape

(70, 10)

In [40]:
q_3=df["views"].quantile(0.75)
print(q_3)
q_1=df["views"].quantile(0.25)
print(q_1)

result = int(q_3 - q_1)
result

8620.75
5631.75

2989