In [18]:
import pandas as pd 
df = pd.read_csv("type1_data1.csv")

#1. 결측치가 가장 많은 두 컬럼을 찾으시오 
#2. 첫 번째로 결측치가 많은 컬럼에서 결측치가 있는 데이터(행)를 삭제하시오 
#3. 두 번째로 결측치가 많은 컬럼을 최빈값으로 대체하시오 
#4. "f3" 컬럼의 "gold" 값을 가진 데이터의 수를 정수형으로 구하시오

In [19]:
df.isnull().sum()

id             0
age            0
city           0
f1            31
f2             0
f3            29
f4             0
f5             0
subscribed     0
views          4
dtype: int64

In [23]:
df.dropna(subset=["f1"], inplace=True)
df.isnull().sum()

id             0
age            0
city           0
f1             0
f2             0
f3            19
f4             0
f5             0
subscribed     0
views          2
dtype: int64

In [26]:
abc=df["f3"].mode()
abc

0    gold
Name: f3, dtype: object

In [29]:
df["f3"].fillan(abc[0], inplace=True)
df.isnull().sum()

AttributeError: 'Series' object has no attribute 'fillan'

In [30]:
cond = df["f3"] == "gold"
sum(cond)

44

In [31]:
df["f3"].value_counts()

f3
gold      44
silver    15
vip       11
Name: count, dtype: int64