In [6]:
import pandas as pd 
df = pd.read_csv("type1_data1.csv")

#1. "f1" 컬럼에 결측치가 있는 데이터만 선택하시오 
#2. 선택된 데이터에서 "age" 컬럼의 평균값을 구하시오(반올림 후 소수 첫째 자리까지 계산)

In [11]:
f1_n=df[df["f1"].isnull()]
print(f1_n)

      id    age city  f1  f2      f3    f4         f5  subscribed    views
0   id01    2.0   서울 NaN   0    gold  ENFJ  91.297791  2024-07-16   6820.0
3   id04   75.0   서울 NaN   2     NaN  INFP  52.667078  2024-07-21    493.0
12  id12   20.0   서울 NaN   0     NaN  ESTP  91.297791  2024-11-30   1367.0
17  id17   74.0   서울 NaN   1    gold  ISTP  67.886373  2024-10-26   9441.0
19  id19   53.0   서울 NaN   0    gold  ISFP  83.685380  2024-12-24   5287.0
21  id21   90.0   부산 NaN   1    gold  ISFP  29.269869  2024-05-03   9690.0
25  id25   34.0   부산 NaN   0    gold  ESTP  60.339826  2024-07-12   8954.0
30  id30   16.0   부산 NaN   0     NaN  ESTJ  17.252986  2024-05-28    240.0
34  id34   65.0   부산 NaN   1  silver  INFP  48.431184  2024-02-01   3163.0
35  id35   30.0   부산 NaN   2  silver  ESTJ  33.308999  2024-06-10   3084.0
37  id37  100.0   부산 NaN   0  silver  ESTP  33.308999  2024-07-08   4068.0
38  id38   87.0   부산 NaN   1     NaN  ESTP  83.685380  2024-06-21   1048.0
44  id44   44.0   대구 NaN   0     NaN  INTP  16.283854  2024-11-10    546.0
46  id46   93.0   대구 NaN   0    gold  ESTJ  67.886373  2024-05-23   9711.0
48  id48   18.0   대구 NaN   0     NaN  ENFP  20.129444  2024-03-25      NaN
51  id51   36.0   대구 NaN   0    gold  ISTJ  83.685380  2024-08-20   7217.0
54  id54   53.0   대구 NaN   1    gold  ENFJ  69.730313  2024-06-21   5872.0
56  id56   59.0   대구 NaN   1     vip  ESTJ  73.586397  2024-04-05  19589.0
59  id59   64.0   대구 NaN   1  silver  ESFJ  20.129444  2024-06-23   4994.0
60  id60   56.0   경기 NaN   0    gold  ESFP  52.667078  2024-11-24   6794.0
62  id62   52.0   경기 NaN   0     NaN  INTP  60.339826  2024-04-10   2100.0
65  id65   26.5   경기 NaN   0  silver  ISFP  91.297791  2024-01-10   3336.0
66  id66   87.0   경기 NaN   1    gold  ISFP  17.252986  2024-08-05   8471.0
73  id73   90.0   경기 NaN   1     NaN  ISFJ  73.586397  2024-08-12    512.0
79  id79   30.0   경기 NaN   0    gold  INTJ  80.138280  2024-08-14   8777.0
82  id82   48.0   경기 NaN   0     NaN  ENTJ  37.113739  2024-10-17      NaN
86  id86    2.0   경기 NaN   0     NaN  ESTP  29.269869  2024-02-16   2155.0
87  id87   19.0   경기 NaN   1    gold  ISFP  97.381034  2024-08-30   6516.0
90  id90   54.0   경기 NaN   0  silver  ENTP  29.269869  2024-04-03   3818.0
94  id94   84.0   경기 NaN   1  silver  ESTJ  90.496999  2024-08-16   3774.0
97  id97  100.0   경기 NaN   0    gold  INFP  67.886373  2024-03-18   6687.0

In [14]:
a2=f1_n["age"].mean()
round(a2,1)

np.float64(53.6)