In [18]:
import pandas as pd 

# 데이터 불러오기
df = pd.read_csv("type1_data1.csv")

In [19]:
df

        id   age city    f1  f2      f3    f4         f5  subscribed   views
0     id01   2.0   서울   NaN   0    gold  ENFJ  91.297791  2024-07-16  6820.0
1     id02   9.0   서울  70.0   1     NaN  ENFJ  60.339826  2024-05-12  2534.0
2     id03  27.0   서울  61.0   1    gold  ISTJ  17.252986  2024-03-16  7312.0
3     id04  75.0   서울   NaN   2     NaN  INFP  52.667078  2024-07-21   493.0
4     id05  24.0   서울  85.0   2     NaN  ISFJ  29.269869  2024-03-07  1338.0
..     ...   ...  ...   ...  ..     ...   ...        ...         ...     ...
115  id114  22.0   대구  23.0   0    gold  INTP   0.000000  2025-02-17  9747.0
116  id115  23.0   부산  65.0   0     vip  ENTP   0.000000  2025-02-17  5628.0
117  id116  23.0   서울  12.0   1  silver  INFP   0.000000  2025-02-17  1267.0
118  id117  23.0   대구  65.0   2    gold  INFP   0.000000  2025-02-17  6543.0
119  id118  24.0   부산  94.0   1     vip  ESFJ   0.000000  2025-02-17  2356.0

[120 rows x 10 columns]

In [20]:
Q1 = df["views"].quantile(0.25)
Q3 = df["views"].quantile(0.75)
iqr = Q3 - Q1

print(Q1)
print(Q3)
print(iqr)

3031.0
8473.5
5442.5

In [21]:
low_q = Q1 -(iqr * 1.5)
upper_q= Q3-(iqr * 1.5)
cond1 = df["views"] < low_q
cond2 = df["views"] > upper_q
df=df[cond1 | cond2]
df

        id   age city    f1  f2      f3    f4         f5  subscribed   views
0     id01   2.0   서울   NaN   0    gold  ENFJ  91.297791  2024-07-16  6820.0
1     id02   9.0   서울  70.0   1     NaN  ENFJ  60.339826  2024-05-12  2534.0
2     id03  27.0   서울  61.0   1    gold  ISTJ  17.252986  2024-03-16  7312.0
3     id04  75.0   서울   NaN   2     NaN  INFP  52.667078  2024-07-21   493.0
4     id05  24.0   서울  85.0   2     NaN  ISFJ  29.269869  2024-03-07  1338.0
..     ...   ...  ...   ...  ..     ...   ...        ...         ...     ...
115  id114  22.0   대구  23.0   0    gold  INTP   0.000000  2025-02-17  9747.0
116  id115  23.0   부산  65.0   0     vip  ENTP   0.000000  2025-02-17  5628.0
117  id116  23.0   서울  12.0   1  silver  INFP   0.000000  2025-02-17  1267.0
118  id117  23.0   대구  65.0   2    gold  INFP   0.000000  2025-02-17  6543.0
119  id118  24.0   부산  94.0   1     vip  ESFJ   0.000000  2025-02-17  2356.0

[111 rows x 10 columns]

In [22]:

# 1. "views" 컬럼의 1사분위수, 3사분위수, iqr구하시오
# (iqr = 3사분위수 - 1사분위수)
Q1 = df["views"].quantile(0.25)
Q3 = df["views"].quantile(0.75)
iqr = Q3 - Q1

print(f"1사분위수(Q1): {Q1}")
print(f"3사분위수(Q3): {Q3}")
print(f"IQR: {iqr}")

# 2. 이상치 조건에 맞는 데이터를 찾으시오 
# (이상치는 1사분위수 - (iqr *1.5)보다 작은 값고 3사분위 + (iqr * 1.5)보다 큰값)
lower_bound = Q1 - (iqr * 1.5)
upper_bound = Q3 + (iqr * 1.5)

outliers = df[(df["views"] < lower_bound) | (df["views"] > upper_bound)]
print(f"\n이상치 개수: {len(outliers)}")

# 3. 이상치 데이터의 "views" 컬럼 합을 정수로 구하시오 
outlier_views_sum = int(outliers["views"].sum())
print(f"이상치 데이터의 'views' 컬럼 합: {outlier_views_sum}")

1사분위수(Q1): 3555.0
3사분위수(Q3): 8499.5
IQR: 4944.5

이상치 개수: 4
이상치 데이터의 'views' 컬럼 합: 77699