In [29]:
import pandas as pd 

# 데이터 불러오기
df = pd.read_csv("type1_data2.csv", index_col=0)

# 1. index "2001" 데이터(행)에서 평균보다 큰 값의 개수를 구하시오 
# 2. index "2003" 데이터(행)에서 평균보다 작은 값의 개수를 구하시오 
# 두 개수를 더하시오.

In [30]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
year,,,,,,,,,,,,,,,,,,,,,
2000,137,74,114,140,80,150,16,133,178,181,...,124,94,118,12,50,191,137,174,56,128
2001,176,87,64,110,128,16,8,4,123,87,...,59,22,3,108,17,104,101,161,156,43
2002,128,132,123,112,134,160,180,47,115,155,...,160,111,116,75,48,51,81,101,194,73
2003,78,45,26,50,177,119,47,72,163,125,...,163,88,52,79,192,83,5,75,196,119
2004,1,162,124,12,1,126,58,123,186,161,...,100,93,86,12,115,72,29,30,88,150

In [ ]:
mean_up=df.loc[2001].mean() < df.loc[2001]
mean_up.sum()

np.int64(100)

In [33]:
mean_low=df.loc[2003].mean() > df.loc[2003]
mean_low.sum()

np.int64(102)

In [34]:
mean_up+mean_low

0       True
1       True
2       True
3       True
4       True
       ...
195     True
196     True
197     True
198     True
199    False
Length: 200, dtype: bool