In [3]:
import pandas as pd 

# 데이터 불러오기
df = pd.read_csv("type1_data1.csv")

# 1. "views" 컬럼의 표준편차를 구하시오 
# 2. "age" 컬럼의 이상치(소수점 나이, 음수 나이, 0살) 제거하고, "views"컬럼의 표준편차를 구하시오.
# 3. 이상치 제거 전후의 'views" 컬럼의 표준편차를 더하여, 반올림 후 소수 둘째 자리까지 구하시오.

In [4]:
df["views"].std

<bound method Series.std of 0      6820.0
1      2534.0
2      7312.0
3       493.0
4      1338.0
        ...
115    9747.0
116    5628.0
117    1267.0
118    6543.0
119    2356.0
Name: views, Length: 120, dtype: float64>