In [1]:
data = {
    'Date1': ['2024-02-17', '2024-02-18', '2024-02-19', '2024-02-20'],
    'Date2': ['2024:02:17', '2024:02:18', '2024:02:19', '2024:02:20'],
    'Date3': ['24/02/17', '24/02/18', '24/02/19', '24/02/20'],
    'Date4': ['02/17/2024', '02/18/2024', '02/19/2024', '02/20/2024'],
    'Date5': ['17-Feb-2024', '18-Feb-2024', '19-Feb-2024', '20-Feb-2024'],
    'DateTime1': ['24-02-17 13:45:30', '24-02-18 14:55:45', '24-02-19 15:30:15', '24-02-20 16:10:50'],
    'DateTime2': ['2024-02-17 13-45-30', '2024-02-18 14-55-45', '2024-02-19 15-30-15', '2024-02-20 16-10-50'],
    'DateTime3': ['02/17/2024 01:45:30 PM', '02/18/2024 02:55:45 PM', '02/19/2024 03:30:15 AM', '02/20/2024 04:10:50 AM'],
    'DateTime4': ['17 Feb 2024 13:45:30', '18 Feb 2024 14:55:45', '19 Feb 2024 15:30:15', '20 Feb 2024 16:10:50']
}

import pandas as pd

df = pd.DataFrame(data)
df

,Date1,Date2,Date3,Date4,Date5,DateTime1,DateTime2,DateTime3,DateTime4
0,2024-02-17,2024:02:17,24/02/17,02/17/2024,17-Feb-2024,24-02-17 13:45:30,2024-02-17 13-45-30,02/17/2024 01:45:30 PM,17 Feb 2024 13:45:30
1,2024-02-18,2024:02:18,24/02/18,02/18/2024,18-Feb-2024,24-02-18 14:55:45,2024-02-18 14-55-45,02/18/2024 02:55:45 PM,18 Feb 2024 14:55:45
2,2024-02-19,2024:02:19,24/02/19,02/19/2024,19-Feb-2024,24-02-19 15:30:15,2024-02-19 15-30-15,02/19/2024 03:30:15 AM,19 Feb 2024 15:30:15
3,2024-02-20,2024:02:20,24/02/20,02/20/2024,20-Feb-2024,24-02-20 16:10:50,2024-02-20 16-10-50,02/20/2024 04:10:50 AM,20 Feb 2024 16:10:50

In [2]:
df.to_csv("date_data.csv", index=False)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date1      4 non-null      object
 1   Date2      4 non-null      object
 2   Date3      4 non-null      object
 3   Date4      4 non-null      object
 4   Date5      4 non-null      object
 5   DateTime1  4 non-null      object
 6   DateTime2  4 non-null      object
 7   DateTime3  4 non-null      object
 8   DateTime4  4 non-null      object
dtypes: object(9)
memory usage: 420.0+ bytes

In [4]:
df["Date1"] = pd.to_datetime(df["Date1"])

In [5]:
df["Date1"]

0   2024-02-17
1   2024-02-18
2   2024-02-19
3   2024-02-20
Name: Date1, dtype: datetime64[ns]

In [6]:
df["Date2"]

0    2024:02:17
1    2024:02:18
2    2024:02:19
3    2024:02:20
Name: Date2, dtype: object

In [7]:
df["Date2"] = pd.to_datetime(df["Date2"], format="%Y:%m:%d")

In [8]:
df["Date2"]

0   2024-02-17
1   2024-02-18
2   2024-02-19
3   2024-02-20
Name: Date2, dtype: datetime64[ns]

In [9]:
df["Date3"]

0    24/02/17
1    24/02/18
2    24/02/19
3    24/02/20
Name: Date3, dtype: object

In [10]:
df["Date3"] = pd.to_datetime(df["Date3"])
df["Date3"]

C:\Users\krcea\AppData\Local\Temp\ipykernel_12332\2917726113.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date3"] = pd.to_datetime(df["Date3"])

0   2017-02-24
1   2018-02-24
2   2019-02-24
3   2020-02-24
Name: Date3, dtype: datetime64[ns]

In [11]:
df["Date4"]

0    02/17/2024
1    02/18/2024
2    02/19/2024
3    02/20/2024
Name: Date4, dtype: object

In [12]:
df["Date4"] = pd.to_datetime(df["Date4"])
df["Date4"]

0   2024-02-17
1   2024-02-18
2   2024-02-19
3   2024-02-20
Name: Date4, dtype: datetime64[ns]

In [13]:
df["Date5"]

0    17-Feb-2024
1    18-Feb-2024
2    19-Feb-2024
3    20-Feb-2024
Name: Date5, dtype: object

In [14]:
df["Date5"] = pd.to_datetime(df["Date5"])
df["Date5"]

0   2024-02-17
1   2024-02-18
2   2024-02-19
3   2024-02-20
Name: Date5, dtype: datetime64[ns]

In [15]:
df["DateTime1"]

0    24-02-17 13:45:30
1    24-02-18 14:55:45
2    24-02-19 15:30:15
3    24-02-20 16:10:50
Name: DateTime1, dtype: object

In [16]:
# DateTime1 데이터 형식: '24-02-17 13:45:30' (시간 구분자가 콜론(:))
# format 문자열도 콜론(:)을 사용해야 함
df["DateTime1"] = pd.to_datetime(df["DateTime1"], format="%y-%m-%d %H:%M:%S")
df["DateTime1"]

0   2024-02-17 13:45:30
1   2024-02-18 14:55:45
2   2024-02-19 15:30:15
3   2024-02-20 16:10:50
Name: DateTime1, dtype: datetime64[ns]

In [17]:
df["DateTime2"]

0    2024-02-17 13-45-30
1    2024-02-18 14-55-45
2    2024-02-19 15-30-15
3    2024-02-20 16-10-50
Name: DateTime2, dtype: object

In [18]:
df["DateTime2"] = pd.to_datetime(df["DateTime2"], format="%Y-%m-%d %H-%M-%S")
df["DateTime2"]

0   2024-02-17 13:45:30
1   2024-02-18 14:55:45
2   2024-02-19 15:30:15
3   2024-02-20 16:10:50
Name: DateTime2, dtype: datetime64[ns]

In [19]:
df["DateTime3"]

0    02/17/2024 01:45:30 PM
1    02/18/2024 02:55:45 PM
2    02/19/2024 03:30:15 AM
3    02/20/2024 04:10:50 AM
Name: DateTime3, dtype: object

In [20]:
df["DateTime3"] = pd.to_datetime(df["DateTime3"])
df["DateTime3"]

C:\Users\krcea\AppData\Local\Temp\ipykernel_12332\277757546.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["DateTime3"] = pd.to_datetime(df["DateTime3"])

0   2024-02-17 13:45:30
1   2024-02-18 14:55:45
2   2024-02-19 03:30:15
3   2024-02-20 04:10:50
Name: DateTime3, dtype: datetime64[ns]

In [21]:
df["DateTime4"]

0    17 Feb 2024 13:45:30
1    18 Feb 2024 14:55:45
2    19 Feb 2024 15:30:15
3    20 Feb 2024 16:10:50
Name: DateTime4, dtype: object

In [22]:
df["DateTime4"] = pd.to_datetime(df["DateTime4"])
df["DateTime4"]

0   2024-02-17 13:45:30
1   2024-02-18 14:55:45
2   2024-02-19 15:30:15
3   2024-02-20 16:10:50
Name: DateTime4, dtype: datetime64[ns]

In [23]:
df

,Date1,Date2,Date3,Date4,Date5,DateTime1,DateTime2,DateTime3,DateTime4
0,2024-02-17,2024-02-17,2017-02-24,2024-02-17,2024-02-17,2024-02-17 13:45:30,2024-02-17 13:45:30,2024-02-17 13:45:30,2024-02-17 13:45:30
1,2024-02-18,2024-02-18,2018-02-24,2024-02-18,2024-02-18,2024-02-18 14:55:45,2024-02-18 14:55:45,2024-02-18 14:55:45,2024-02-18 14:55:45
2,2024-02-19,2024-02-19,2019-02-24,2024-02-19,2024-02-19,2024-02-19 15:30:15,2024-02-19 15:30:15,2024-02-19 03:30:15,2024-02-19 15:30:15
3,2024-02-20,2024-02-20,2020-02-24,2024-02-20,2024-02-20,2024-02-20 16:10:50,2024-02-20 16:10:50,2024-02-20 04:10:50,2024-02-20 16:10:50

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date1      4 non-null      datetime64[ns]
 1   Date2      4 non-null      datetime64[ns]
 2   Date3      4 non-null      datetime64[ns]
 3   Date4      4 non-null      datetime64[ns]
 4   Date5      4 non-null      datetime64[ns]
 5   DateTime1  4 non-null      datetime64[ns]
 6   DateTime2  4 non-null      datetime64[ns]
 7   DateTime3  4 non-null      datetime64[ns]
 8   DateTime4  4 non-null      datetime64[ns]
dtypes: datetime64[ns](9)
memory usage: 420.0 bytes

In [25]:
df["DateTime2"]

0   2024-02-17 13:45:30
1   2024-02-18 14:55:45
2   2024-02-19 15:30:15
3   2024-02-20 16:10:50
Name: DateTime2, dtype: datetime64[ns]

In [26]:
df["DateTime2"] = pd.to_datetime(df["DateTime2"], format="%Y-%m-%d %H-%M-%S")
df["DateTime2"]

0   2024-02-17 13:45:30
1   2024-02-18 14:55:45
2   2024-02-19 15:30:15
3   2024-02-20 16:10:50
Name: DateTime2, dtype: datetime64[ns]

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date1      4 non-null      datetime64[ns]
 1   Date2      4 non-null      datetime64[ns]
 2   Date3      4 non-null      datetime64[ns]
 3   Date4      4 non-null      datetime64[ns]
 4   Date5      4 non-null      datetime64[ns]
 5   DateTime1  4 non-null      datetime64[ns]
 6   DateTime2  4 non-null      datetime64[ns]
 7   DateTime3  4 non-null      datetime64[ns]
 8   DateTime4  4 non-null      datetime64[ns]
dtypes: datetime64[ns](9)
memory usage: 420.0 bytes

In [28]:
df

,Date1,Date2,Date3,Date4,Date5,DateTime1,DateTime2,DateTime3,DateTime4
0,2024-02-17,2024-02-17,2017-02-24,2024-02-17,2024-02-17,2024-02-17 13:45:30,2024-02-17 13:45:30,2024-02-17 13:45:30,2024-02-17 13:45:30
1,2024-02-18,2024-02-18,2018-02-24,2024-02-18,2024-02-18,2024-02-18 14:55:45,2024-02-18 14:55:45,2024-02-18 14:55:45,2024-02-18 14:55:45
2,2024-02-19,2024-02-19,2019-02-24,2024-02-19,2024-02-19,2024-02-19 15:30:15,2024-02-19 15:30:15,2024-02-19 03:30:15,2024-02-19 15:30:15
3,2024-02-20,2024-02-20,2020-02-24,2024-02-20,2024-02-20,2024-02-20 16:10:50,2024-02-20 16:10:50,2024-02-20 04:10:50,2024-02-20 16:10:50

In [32]:
# 날짜와 시간 데이터 분할(dt)
df["연도"] = df["DateTime1"].dt.year
df

,Date1,Date2,Date3,Date4,Date5,DateTime1,DateTime2,DateTime3,DateTime4,연도
0,2024-02-17,2024-02-17,2017-02-24,2024-02-17,2024-02-17,2024-02-17 13:45:30,2024-02-17 13:45:30,2024-02-17 13:45:30,2024-02-17 13:45:30,2024
1,2024-02-18,2024-02-18,2018-02-24,2024-02-18,2024-02-18,2024-02-18 14:55:45,2024-02-18 14:55:45,2024-02-18 14:55:45,2024-02-18 14:55:45,2024
2,2024-02-19,2024-02-19,2019-02-24,2024-02-19,2024-02-19,2024-02-19 15:30:15,2024-02-19 15:30:15,2024-02-19 03:30:15,2024-02-19 15:30:15,2024
3,2024-02-20,2024-02-20,2020-02-24,2024-02-20,2024-02-20,2024-02-20 16:10:50,2024-02-20 16:10:50,2024-02-20 04:10:50,2024-02-20 16:10:50,2024

In [33]:
df["월"] = df["DateTime1"].dt.month
df.head(1)

,Date1,Date2,Date3,Date4,Date5,DateTime1,DateTime2,DateTime3,DateTime4,연도,월
0,2024-02-17,2024-02-17,2017-02-24,2024-02-17,2024-02-17,2024-02-17 13:45:30,2024-02-17 13:45:30,2024-02-17 13:45:30,2024-02-17 13:45:30,2024,2

In [34]:
df["일"] = df["DateTime1"].dt.day

In [35]:
df["hour"] = df["DateTime1"].dt.hour 
df["minute"] = df["DateTime1"].dt.minute 
df["second"] = df["DateTime1"].dt.second 

df

,Date1,Date2,Date3,Date4,Date5,DateTime1,DateTime2,DateTime3,DateTime4,연도,월,일,hour,minute,second
0,2024-02-17,2024-02-17,2017-02-24,2024-02-17,2024-02-17,2024-02-17 13:45:30,2024-02-17 13:45:30,2024-02-17 13:45:30,2024-02-17 13:45:30,2024,2,17,13,45,30
1,2024-02-18,2024-02-18,2018-02-24,2024-02-18,2024-02-18,2024-02-18 14:55:45,2024-02-18 14:55:45,2024-02-18 14:55:45,2024-02-18 14:55:45,2024,2,18,14,55,45
2,2024-02-19,2024-02-19,2019-02-24,2024-02-19,2024-02-19,2024-02-19 15:30:15,2024-02-19 15:30:15,2024-02-19 03:30:15,2024-02-19 15:30:15,2024,2,19,15,30,15
3,2024-02-20,2024-02-20,2020-02-24,2024-02-20,2024-02-20,2024-02-20 16:10:50,2024-02-20 16:10:50,2024-02-20 04:10:50,2024-02-20 16:10:50,2024,2,20,16,10,50