In [35]:
data = {
    'Date1': ['2024-02-17', '2024-02-18', '2024-02-19', '2024-02-20'],
    'Date2': ['2024:02:17', '2024:02:18', '2024:02:19', '2024:02:20'],
    'Date3': ['24/02/17', '24/02/18', '24/02/19', '24/02/20'],
    'Date4': ['02/17/2024', '02/18/2024', '02/19/2024', '02/20/2024'],
    'Date5': ['17-Feb-2024', '18-Feb-2024', '19-Feb-2024', '20-Feb-2024'],
    'DateTime1': ['24-02-17 13:45:30', '24-02-18 14:55:45', '24-02-19 15:30:15', '24-02-20 16:10:50'],
    'DateTime2': ['2024-02-17 13-45-30', '2024-02-18 14-55-45', '2024-02-19 15-30-15', '2024-02-20 16-10-50'],
    'DateTime3': ['02/17/2024 01:45:30 PM', '02/18/2024 02:55:45 PM', '02/19/2024 03:30:15 AM', '02/20/2024 04:10:50 AM'],
    'DateTime4': ['17 Feb 2024 13:45:30', '18 Feb 2024 14:55:45', '19 Feb 2024 15:30:15', '20 Feb 2024 16:10:50']
}
import pandas as pd
df = pd.DataFrame(data)
df

,Date1,Date2,Date3,Date4,Date5,DateTime1,DateTime2,DateTime3,DateTime4
0,2024-02-17,2024:02:17,24/02/17,02/17/2024,17-Feb-2024,24-02-17 13:45:30,2024-02-17 13-45-30,02/17/2024 01:45:30 PM,17 Feb 2024 13:45:30
1,2024-02-18,2024:02:18,24/02/18,02/18/2024,18-Feb-2024,24-02-18 14:55:45,2024-02-18 14-55-45,02/18/2024 02:55:45 PM,18 Feb 2024 14:55:45
2,2024-02-19,2024:02:19,24/02/19,02/19/2024,19-Feb-2024,24-02-19 15:30:15,2024-02-19 15-30-15,02/19/2024 03:30:15 AM,19 Feb 2024 15:30:15
3,2024-02-20,2024:02:20,24/02/20,02/20/2024,20-Feb-2024,24-02-20 16:10:50,2024-02-20 16-10-50,02/20/2024 04:10:50 AM,20 Feb 2024 16:10:50

In [36]:
df.to_csv("date_data.csv", index=False)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date1      4 non-null      object
 1   Date2      4 non-null      object
 2   Date3      4 non-null      object
 3   Date4      4 non-null      object
 4   Date5      4 non-null      object
 5   DateTime1  4 non-null      object
 6   DateTime2  4 non-null      object
 7   DateTime3  4 non-null      object
 8   DateTime4  4 non-null      object
dtypes: object(9)
memory usage: 420.0+ bytes

In [38]:
df["Date1"]=pd.to_datetime(df["Date1"])
df["Date1"]

0   2024-02-17
1   2024-02-18
2   2024-02-19
3   2024-02-20
Name: Date1, dtype: datetime64[ns]

In [39]:
df["Date2"]

0    2024:02:17
1    2024:02:18
2    2024:02:19
3    2024:02:20
Name: Date2, dtype: object

In [40]:
df["Date2"] = pd.to_datetime(df["Date2"], format="%Y:%m:%d")

In [41]:
df["Date3"]

0    24/02/17
1    24/02/18
2    24/02/19
3    24/02/20
Name: Date3, dtype: object

In [42]:
df["Date3"] = pd.to_datetime(df["Date3"])

C:\Users\krcea\AppData\Local\Temp\ipykernel_5340\297676084.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date3"] = pd.to_datetime(df["Date3"])

In [43]:
df["Date4"]

0    02/17/2024
1    02/18/2024
2    02/19/2024
3    02/20/2024
Name: Date4, dtype: object

In [44]:
df["Date4"]=pd.to_datetime(df["Date4"])
df["Date4"]

0   2024-02-17
1   2024-02-18
2   2024-02-19
3   2024-02-20
Name: Date4, dtype: datetime64[ns]

In [45]:
df["Date5"]=pd.to_datetime(df["Date5"])
df["Date5"]

0   2024-02-17
1   2024-02-18
2   2024-02-19
3   2024-02-20
Name: Date5, dtype: datetime64[ns]

In [46]:
df["DateTime1"]

0    24-02-17 13:45:30
1    24-02-18 14:55:45
2    24-02-19 15:30:15
3    24-02-20 16:10:50
Name: DateTime1, dtype: object

In [47]:
df["DateTime1"]=pd.to_datetime(df["DateTime1"])
df["DateTime1"]

C:\Users\krcea\AppData\Local\Temp\ipykernel_5340\4265049490.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["DateTime1"]=pd.to_datetime(df["DateTime1"])

0   2017-02-24 13:45:30
1   2018-02-24 14:55:45
2   2019-02-24 15:30:15
3   2020-02-24 16:10:50
Name: DateTime1, dtype: datetime64[ns]

In [48]:
df["DateTime2"]

0    2024-02-17 13-45-30
1    2024-02-18 14-55-45
2    2024-02-19 15-30-15
3    2024-02-20 16-10-50
Name: DateTime2, dtype: object

In [49]:
df["DateTime2"]=pd.to_datetime(df["DateTime2"],format="%Y-%m-%d %H-%M-%S")
df["DateTime2"]

0   2024-02-17 13:45:30
1   2024-02-18 14:55:45
2   2024-02-19 15:30:15
3   2024-02-20 16:10:50
Name: DateTime2, dtype: datetime64[ns]

In [50]:
df["DateTime3"]

0    02/17/2024 01:45:30 PM
1    02/18/2024 02:55:45 PM
2    02/19/2024 03:30:15 AM
3    02/20/2024 04:10:50 AM
Name: DateTime3, dtype: object

In [51]:
df["DateTime3"]=pd.to_datetime(df["DateTime3"])
df["DateTime3"]

C:\Users\krcea\AppData\Local\Temp\ipykernel_5340\400644903.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["DateTime3"]=pd.to_datetime(df["DateTime3"])

0   2024-02-17 13:45:30
1   2024-02-18 14:55:45
2   2024-02-19 03:30:15
3   2024-02-20 04:10:50
Name: DateTime3, dtype: datetime64[ns]

In [52]:
df["DateTime4"]

0    17 Feb 2024 13:45:30
1    18 Feb 2024 14:55:45
2    19 Feb 2024 15:30:15
3    20 Feb 2024 16:10:50
Name: DateTime4, dtype: object

In [53]:
df["DateTime4"]=pd.to_datetime(df["DateTime4"])
df["DateTime4"]

0   2024-02-17 13:45:30
1   2024-02-18 14:55:45
2   2024-02-19 15:30:15
3   2024-02-20 16:10:50
Name: DateTime4, dtype: datetime64[ns]

In [54]:
df

,Date1,Date2,Date3,Date4,Date5,DateTime1,DateTime2,DateTime3,DateTime4
0,2024-02-17,2024-02-17,2017-02-24,2024-02-17,2024-02-17,2017-02-24 13:45:30,2024-02-17 13:45:30,2024-02-17 13:45:30,2024-02-17 13:45:30
1,2024-02-18,2024-02-18,2018-02-24,2024-02-18,2024-02-18,2018-02-24 14:55:45,2024-02-18 14:55:45,2024-02-18 14:55:45,2024-02-18 14:55:45
2,2024-02-19,2024-02-19,2019-02-24,2024-02-19,2024-02-19,2019-02-24 15:30:15,2024-02-19 15:30:15,2024-02-19 03:30:15,2024-02-19 15:30:15
3,2024-02-20,2024-02-20,2020-02-24,2024-02-20,2024-02-20,2020-02-24 16:10:50,2024-02-20 16:10:50,2024-02-20 04:10:50,2024-02-20 16:10:50