In [1]:
import pandas as pd 

appetizer = pd.DataFrame({
    "Menu": ["Salad", "Soup", "Bread"], 
    "Price": [5000, 3000, 2000]
})

main = pd.DataFrame({
    "Menu": ["Steak", "Pasta", "Chicken"], 
    "Price": [15000, 12000, 10000]
})

print(appetizer)
print(main)

    Menu  Price
0  Salad   5000
1   Soup   3000
2  Bread   2000
      Menu  Price
0    Steak  15000
1    Pasta  12000
2  Chicken  10000

In [3]:
full_menu = pd.concat([appetizer, main], ignore_index=True)
full_menu

      Menu  Price
0    Salad   5000
1     Soup   3000
2    Bread   2000
3    Steak  15000
4    Pasta  12000
5  Chicken  10000

In [5]:
full_menu2 = pd.concat([appetizer, main],  axis=1)
full_menu2

    Menu  Price     Menu  Price
0  Salad   5000    Steak  15000
1   Soup   3000    Pasta  12000
2  Bread   2000  Chicken  10000

In [6]:
price = pd.DataFrame({
    "Menu": ["Salad", "Soup", "Steak", "Pasta"], 
    "Price": [5000, 3000, 15000, 12000]
})
cal = pd.DataFrame({
    "Menu": ["Soup", "Steak", "Pasta", "Salad"], 
    "Calories": [100, 500, 400, 150]
})

tmp = pd.concat([price, cal], axis=1) 
tmp

    Menu  Price   Menu  Calories
0  Salad   5000   Soup       100
1   Soup   3000  Steak       500
2  Steak  15000  Pasta       400
3  Pasta  12000  Salad       150

In [7]:
menu_info = pd.merge(price, cal, on="Menu")
menu_info

    Menu  Price  Calories
0  Salad   5000       150
1   Soup   3000       100
2  Steak  15000       500
3  Pasta  12000       400