In [1]:
import pandas as pd

books = {
    "도서명": ["데이터분석", "알고리즘", "자바입문", "웹개발", "파이썬"],
    "재고": [12, 20, 8, 3, 15],
    "가격": [35000, 32000, 30000, 28000, 25000]
}

df = pd.DataFrame(books)
print(df)

     도서명  재고     가격
0  데이터분석  12  35000
1   알고리즘  20  32000
2   자바입문   8  30000
3    웹개발   3  28000
4    파이썬  15  25000

In [2]:
df.isnull().sum()

도서명    0
재고     0
가격     0
dtype: int64

In [3]:
df_sorted = df.sort_values(by="가격", ascending=False)
print(df_sorted)

     도서명  재고     가격
0  데이터분석  12  35000
1   알고리즘  20  32000
2   자바입문   8  30000
3    웹개발   3  28000
4    파이썬  15  25000

In [5]:
df_sorted["할인가격"] = (df_sorted["가격"] * 0.9).astype(int)
print(df_sorted)

     도서명  재고     가격   할인가격
0  데이터분석  12  35000  31500
1   알고리즘  20  32000  28800
2   자바입문   8  30000  27000
3    웹개발   3  28000  25200
4    파이썬  15  25000  22500

In [6]:
df_sorted.to_csv("book_data.csv", index=False, encoding="utf-8-sig")